<p id="notice"><%= notice %></p>

<p>
  <b>Number:</b>
  <%= @telenumbers_of_client.number %>
</p>


<%= link_to 'Edit', edit_telenumbers_of_client_path(@telenumbers_of_client) %> |
<%= link_to 'Back', telenumbers_of_clients_path %>
